//=================================================================================================
//
// home.less -- CSS for the home screens
//

#letscode-home-panel {

	width: 100%;
	min-height: 100%;
	z-index: 3;
	background: #fff;
    overflow: hidden;
    @frame-width: 768px; /* Max available is the minimum width on iPad (portrait) */
    @content-top: 180px;

    #centre-frame {
        position: relative;
        left: 50%;
        width: @frame-width;
        height: 100%;
        padding: 0;
        margin: 0;

        #centre-panel {
            position: relative;
            float: left;
            left: -50%;
            width: @frame-width;
            height: 100%;
            padding: 0;
            margin: 0;

            #top-banner {
              position: relative;
              left: -30px;
            }

            #diamond-box-frame {
                position: relative;
                width: 270px;
                top: 120px;
                left: 20px;

                > div {
                    background: @col-ui-blue;
                    border-radius: 60px;
                    width: 270px;
                    height: 270px;
                    .rotate(45deg);

                    p {
                        position: absolute;
                        .rotate(-45deg);
                        text-align: center;
                        color: white;
                        top: 8px;
                        font-size: 3em;

                        sup {
                            font-size: 0.3em;
                            position: relative;
                            top: -5px;
                        }

                    }
                }
            }

            #desc-panel, .lesson-panel {

                &#desc-panel {
                    float: right;
                    width: 410px;
                    padding: 50px 10px 0 10px;
                }

                &.lesson-panel {
                    position: relative;
                    top: 180px;
                    width: 100%;
                    min-height: 500px;
					display: none;
                }
                margin: 0;
                padding: 0;
                color: black;
                font-size: 1.3em;

                h1 {
                    padding: 0;
                    margin: 0;
                    color: @col-ui-green;
                    font-size: 2em;
                    font-weight: bold;
                }

                .home-browser-info,
                .home-screensize-info {
                    clear: left;
                    font-size: 0.8em;
                    color: @col-ui-dkgrey;
                    a {
                        color: darken(@col-ui-blue, 30%);
                        font-weight: bold;
                    }
                }

                .home-browser-info {
                    padding-top: 45px;
                }

                .home-screensize-info {
                    margin-top: 1em;
                    display: none;
                    color: @col-ui-orange;
                }

                .copyright {
                    font-size: 0.7em;
                    color: #4D4D4D;
                }

                .option-menu {
                    margin: 0;
                    padding: 0;

                    li {
                        list-style: none;
                        margin: 20px 20px 20px 0;
                        padding: 5px;
                        float: left;
                        .transform(skew(-3deg, -2deg));

                        a {
                            background: @col-ui-orange;
                            color: white;
                            padding: 10px;

                            &:hover {
                                background: lighten(@col-ui-orange, 10%);
                            }
                        }

                        &.back {
                            float: left;
                            a {
                                background: @col-ui-ltgrey;
                                padding: 5px;
                            }
                        }
                        &.go {
                            float: right;
                            a {
                                font-weight:bold;
                            }
                        }
                    }
                }
            }
        }
    }

    #bottom-banner {
        width: 100%;
        height: 85px;
    }
}

