<li class="propitem">
	<a href="#" class="propname">{{ key }}</a>
	<input class="propvalue" name="{{ key }}" value="{{ value }}" {{#if readonly}}readonly="readonly"{{/if}}/>
	<a href="#" class="propdesc">{{ comment }} </a>
	<a href="#" class="propdelete"></a>
</li>
